[Unit]
Description=Doppelgaenger HTTP Shadow Proxy
After=network-online.target doppelgaenger.socket
Wants=network-online.target
Requires=doppelgaenger.socket

[Service]
Type=simple
Environment=CONFIG_FILE=/etc/doppelgaenger/config.yaml
ExecStart=/usr/local/bin/doppelgaenger
ExecReload=/usr/bin/systemctl --no-block try-restart doppelgaenger.service
Restart=on-failure
RestartSec=2s
LogsDirectory=doppelgaenger

[Install]
WantedBy=multi-user.target
